body {
    background-color: azure;
    width: 1000px;
    height: 1000px;
}
.by-line {
    font-family: "Skating";
    src: url("Skating.otf");
}
.by-line {
    font-family: "Pacifico", cursive;
}
nav {
    border-color: lightblue;
    border-style: solid;
    border-width: 2px;
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;

    background-color: lightblue;
    Gap: 50px;
    float: center;
    word-spacing: 20px;

    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    }
a:hover {
    color: red;
    text-decoration: underline;

}
.breadcrumbs {
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.article-container {
    display: flex;
    width: 1000px;
}
.article {
    background-color: lightcyan;

    
    display: flex;
    object-fit: cover;
    width: 800px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 0px;


}
.ssidebar {
    object-fit: cover;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 150px;
}
Novel-row img {
    object-fit: cover;
    
}
.Novel-row {
    display: flex;
    margin-top: 10px;
}
.Novel h4 {
    margin-top: 5;
    margin-bottom: 0;
}
.Novel-row p {
    margin-bottom: 0;
    margin-top: 0;
}
.picture {
    width: 350px;
	margin-bottom: 20px;
    position: relative;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 20px;
}
.picture .text {
    width: 305px;
	padding: 20px;
	background-color: lightgrey;
    position: absolute;
    bottom: 200px;
    text-align: right;
    visibility: visible;
}
.picture .text:hover {
    visibility: hidden;
}
.row img {
    border-radius: 100px;
}
.row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: beige;
    bottom: 0;
    left:0;
    right: 0;
}
.footer-container {
    display: block;
    text-align: center;
}
.footer {
    background-color: blue;
}
.container {
    background-color: blueviolet;
    text-align: center;
}
body {
    background-color: azure;
    width: 1000px;
    height: 1000px;
}
nav {
    border-color: lightblue;
    border-style: solid;
    border-width: 2px;
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;

    background-color: lightblue;
    Gap: 50px;
    float: center;
    word-spacing: 20px;

    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}
a:hover {
    color: red;
    text-decoration: underline;

}
.breadcrumbs {
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.article-container {
    display: flex;
    width: 1000px;
}
.article {
    background-color: lightcyan;
    object-fit: cover;
    width: 800px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}
.sidebar {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    
    }
    .id {
    background-color: lightskyblue;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    }
    .site {
        border-style: solid;
        border-width: 2px;
        border-color: blue;

    margin-right: 400px;
    margin-left: 400px; 
    background-color: aqua; 
    }
    .site-container {
        display: block;
    }
    footer {
        text-align: center;
    }
    .footer {
        text-align: center;
        background-color: blue;
    }
    .container {
        background-color: blueviolet;
    }
    
    
    
